! .Xresources

! *** Notes
! Config format:
!   [application]key: value
!
!   Using * applies to all applications
!   Using URxvt* applies to all URxvt processes, etc
! Reloading config:
!   $ xrdb -merge <path-to-this-file>

! *** Colors
! Base16 Ocean
! Scheme: Chris Kempson (http://chriskempson.com)

! 00 to 07: black to white
#define base00 #2b303b
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #dfe1e8
#define base07 #eff1f5
! 08 to OE: roy g biv
#define base08 #bf616a
#define base09 #d08770
#define base0A #ebcb8b
#define base0B #a3be8c
#define base0C #96b5b4
#define base0D #8fa1b3
#define base0E #b48ead
! 0F: brown
#define base0F #ab7967

! *** URxvt
! Disable ISO 14755 mode to allow ctrl+shift bindings
URxvt.iso14755:    false
URxvt.iso14755_52: false

! Font
! Check fonts with fc-list -v | grep and use the "family" name
! Open a single urxvt window with a given font: 
!   $ urxvt -fn "xft:DejaVuSansMono Nerd Font:pixelsize=12"
! Note that the nerd fonts are finicky: too small a font will result in the
! little prompt arrow showing up as a box. Also it seems like it is more
! reliable to log out/in rather than trying to merge configs or invoke
! urxvt directly as above
! URxvt*font:         xft:FiraCode Nerd Font:size=12:pixelsize=14:antialias=true
! The below line will break certain glyphs depending on the font.
! URxvt*letterSpace: -1

! Appearance
URxvt*borderLess:     false
URxvt*externalBorder: 0
URxvt*internalBorder: 4
URxvt*scrollBar:      false
URxvt*saveLines:      5000

Alacritty*borderLess:     false
Alacritty*externalBorder: 0
Alacritty*internalBorder: 4
Alacritty*scrollBar:      false

